<!-- Boilerplate for ejs mate -->
<%-layout('layouts/boilerplate')%>

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2>
    <div class="quote">
        <span>every experience in your life is being orchestrated to teach you something you need to know to move
            forward.</span>
    </div>

    <div class="timeline">


        <div class="container right">
            <div class="content">
                <div class="tag">
                    <h2>Senior Software Engineer</h2>
                </div>
                <div class="desc">
                    <h3>Birlasoft</h3>
                    <p>Feb 2023 - Present</p>
                </div>
            </div>
        </div>

        <div class="container left">
            <div class="content">
                <div class="tag">
                    <h2>Software Engineer</h2>
                </div>
                <div class="desc">
                    <h3>Simform</h3>
                    <p>December 2021 - Feb 2023</p>
                </div>
            </div>
        </div>

        <div class="container right">
            <div class="content">
                <div class="tag">
                    <h2>Associate Software Engineer</h2>
                </div>
                <div class="desc">
                    <h3>Torry Harris Business Solutions</h3>
                    <p>January 2019 - July 2020</p>
                </div>
            </div>
        </div>
    </div>

    <div class="morebtn" data-aos="fade-in" data-aos-duration="1000">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
    </div>

    </div>
</section>

<!-- scroll top btn -->
<a href="#experience" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->